.envrc

# terraform related
.terraform
tf.deploy

# SUT related temp files
*kubeconfig*
*inventory
*id_rsa
stackstate-values.yml
sts-toolbox.yml

# pytest related files
topic-*.json

# binary
beest

stackstate-values.yml

sts-toolbox.yml
