.envrc

# terraform related
.terraform
tf.deploy

# SUT related temp files
*inventory
*id_rsa
*kubeconfig*
*aws_auth.yml
*-values.yml
sts-toolbox.yml

# pytest related files
topic-*.json

# binary
beest
