PATH_add $PWD

export AWS_DEFAULT_REGION=eu-west-1

export BEEST_AWS_ACCESS_KEY_ID=TBD
export BEEST_AWS_SECRET_ACCESS_KEY=TBD
configure_aws_beest_credentials

export quay_user=TBD
export quay_password=TBD
export artifactory_user=TBD
export artifactory_password=TBD

export RUN_ID=$AGENT_CURRENT_BRANCH

export STACKSTATE_BRANCH=master
export STACKSTATE_HELM_CHART=">0.0.0-0"  # use development versions
export STACKSTATE_LICENSE=TBD
