---
dnat_service_port: 321
dnat_server_port: 123
container_to_container_server_port: 234
headless_service_port: 543

artifactory_user: "{{ lookup('env', 'artifactory_user') or ARTIFACTORY_USER }}"
artifactory_password: "{{ lookup('env', 'artifactory_password') or ARTIFACTORY_PASSWORD }}"

agent_current_branch: "{{ lookup('env', 'AGENT_CURRENT_BRANCH') or AGENT_CURRENT_BRANCH }}"
agent_current_branch_ref: "{{ lookup('env', 'AGENT_CURRENT_BRANCH_REF') or AGENT_CURRENT_BRANCH_REF }}"
agent_docker_repo: "{{ lookup('env', 'STS_DOCKER_TEST_REPO') or STS_DOCKER_TEST_REPO }}"
process_agent_branch: "{{ lookup('env', 'PROCESS_AGENT_BRANCH') or 'master' }}"
process_agent_repo: "{{ lookup('env', 'PROCESS_AGENT_TEST_REPO') or PROCESS_AGENT_TEST_REPO }}"
cluster_agent_docker_repo: "{{ lookup('env', 'STS_DOCKER_TEST_REPO_CLUSTER') or STS_DOCKER_TEST_REPO_CLUSTER }}"
agent_helm_chart_version: "{{ lookup('env', 'AGENT_HELM_CHART_VERSION') }}"

stackstate_helm_chart_version: "{{ lookup('env', 'STACKSTATE_HELM_CHART_VERSION') }}"
stackstate_license: "{{ lookup('env', 'STACKSTATE_LICENSE') or STACKSTATE_LICENSE }}"

monitoring_namespace: "monitoring"
agent_release_name: "stackstate-k8s-agent"
test_namespace: "{{ yard_id.replace('.','-').replace('_','-') }}"
agent_cluster_name: "{{ test_namespace }}"
stackstate_cluster_name: "sandbox-main.sandbox.stackstate.io"

agent_kubecontext: "{{ yard_id }}"
stackstate_kubecontext: "{{ stackstate_cluster_name }}"

sts_api_key: "{{ yard_id }}"
sts_url: "https://{{ yard_id }}.{{ stackstate_cluster_name }}"
